<!DOCTYPE html>
<html>
    <head>
        <title>dinofit</title>
        <link rel="stylesheet"  type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/index.css">
        <link rel="stylesheet" type="text/css" href="../public/style.css">
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script> -->
    </head>
    <body>
    
    <div class="container">
        
        
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to Dinofit!</h1>
		<a href="/index" class="btn btn-lg btn-success">click here!</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    </body>
</html>

