<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewprot" content="width=device-width, initial-scale=1.0">
  <title>Dinofit</title>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/style.css">
  <link rel="stylesheet" type="text/css" href="../public/index.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <!-- <script language="javascript" type="text/javascript" src="dinofit.js"></script> -->
</head>
<body translate="no">
  <header>
    <div class="divTop">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="logo"></a>
            <ul class="navbar-nav nav-left">
              <li class="nav-item active">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#who_am_i">who am i?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#lets_talk">let's talk</a>
              </li>
            </ul>
            <ul class="navbar-nav nav-right">
              <li class="list-logo">
            <a href="https://www.facebook.com/D.K.personal.trainer.1/?ref=nf&hc_ref=ARTVs6z6PMeTs7fv2FrUD1Le4CAvWvaLTUFZD1yUvPvjYDVNYaMiBEr3-y5nSjB4vPs&__tn__=%3C-R" class="img_facebook ul_facebook">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-logo">
            <a href="https://www.instagram.com/dean__koren/" class="img_instagram ul_instagram">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-logo">
            <a href="https://api.whatsapp.com/send?phone=972502592222&text=&source=&data=&app_absent=" class="img_whatsapp ul_whatsapp">
              <i class="fab fa-whatsapp" aria-hidden="true"></i>
            </a>
          </li>
            </ul>
          </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="all_main">
      <div id="home">
      <div class="hero-row">
        <img src="https://scontent.fsdv1-2.fna.fbcdn.net/v/t1.0-9/83928596_1816933441763730_163491787002871808_n.png?_nc_cat=108&_nc_sid=730e14&_nc_ohc=rghOlFdg39MAX-3N0w8&_nc_ht=scontent.fsdv1-2.fna&oh=496c04b9038104c7091cd20835e647f3&oe=5F8B3DF8" class="image-fit">
        <!-- <img src="image/jpg/din.jpg" class=""> -->
        <div class="container">
          <div class="top-container">
          </div>
        </div>
      </div>
    </div>
    <div id="who_am_i">
      <div class="top-line">
        <h1> who am i?</h1>
          <div class="bottom-line"> 
              <p class="about"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
          </div>
        </div>
      </div>      
      <div id="lets_talk">
        <div class="priceFit">
          <img src="https://scontent.fsdv1-2.fna.fbcdn.net/v/t1.0-9/82927364_1802614676528940_1894707269099061248_n.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=ibAfK140Ap8AX-r4RYM&_nc_ht=scontent.fsdv1-2.fna&oh=df7ede3592577fe1d5ef5c40d0449417&oe=5F8CFE50" class="image-priceFit">
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="siteFooter">
      <p class="pCenter">&copy 2020 by Oren Abarbanel</p>
    </div>
    <div class="faceInst">
      <ul class="align-center">
        <li>
          <a href="mailto:a16oren@gmail.com" class="img_mail">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://he-il.facebook.com/public/Oren-Abarbanel" class="img_facebook ul_facebook">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/orenabarbanel/" class="img_instagram ul_instagram">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=972526940058&text=&source=&data=&app_absent=" class="img_whatsapp ul_whatsapp">
            <i class="fab fa-whatsapp" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>

