/*a.custom-logo-link {
    display: none;
}*/

/** global element styling **/


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

body{
	background: rgba(67, 68, 66, 0.8);
	/*background: #111;*/
	overflow: auto;
	overflow-x: hidden;
}

.divTop{
	text-align: center;
	font-size: 20px;
}


/* navbar */
@media only screen and (max-width: 991px){
	.divTop{
		text-align: center;
		font-size: 30px;
	}
}
.navbar-nav{ /*both nav-left and nav-right*/
	display: flex;
	position: relative;
	width: 700vw;
}

.nav-left{  
	width: 400vw;
	left: 10px;
	word-spacing: 5px; 
}

.nav-right{
	width: 100vw;
	left: 20px;
	justify-content: center;
	letter-spacing: 34px;

}

ul li a{
	color: hsl(239, 12%, 71%);
}

ul li a:hover{
	color: white;
}

.ul_facebook:hover{
	color: blue;
}

.ul_whatsapp:hover{
	color: lightgreen;
}

.list-logo{
	padding: 8px;
}

/* class from bootstrap */

.bg-dark{
	opacity: 0.5;
}


/*home*/
#home{
/*  	position: relative;
  	top: 5px;
  	left: 0;*/
  	/*height: 100%;*/
  	/*width: 100%;*/
}

#home img{
	/*background-image: url("image/png/fit.png");*/
	/*background-repeat: no-repeat;*/
  	/*background-attachment: fixed;*/
  	/*background-position: center;*/
  	/*height: 100%;*/
  	/*width: 100%;*/
}

.image-fit{
	height: 80%;
	width: 100%;
}

/*@media only screen and (max-width: 800px){
	#home{
		background-position: 
	}
}*/


/*who_am_i*/
.top-line{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 2px;
}



#lets_talk{
	position: relative;
	top: 10px;
	left: 10px;
	/*width: auto;*/
	/*height: auto;*/
}

.priceFit{
	text-align: center;
}

.image-priceFit{
	width: 75%;
	height: 95%;
}
/*footer*/

.siteFooter{
	text-align: center;
	top: 10px;
	position: relative;
}

.faceInst{
	
}
.align-center{
	display: flex;
	flex-direction: row;
	letter-spacing: 30px;
	justify-content: center;
	padding-left: 25px;
}

/*@media only screen and (max-width: 1554px){
	.align-center{
		left: 600px;
	}
}*/

ul li{
	list-style-type: none;
}
